---
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
  const dialogs = await getCollection('dialogs');
  return dialogs.map(dialog => ({ params: { slug: dialog.slug }, props: { dialog } }));
}
const { dialog } = Astro.props;
const { Content } = await dialog.render();
---
<h1>{dialog.data.title}</h1>
<Content />